---
import '../styles/accroche.css';
---

<div id="accroche">
  <div class="accroche-inner reveal">
    <p>
      Le soin est une expérience qui vous permet de vous <em>reconnecter à votre corps</em>, à votre
      être intérieur et à votre environnement. J'utilise lors des soins l'apposition des mains, mon
      souffle, les cristaux, le pendule, le bol tibétain, les prières, le massage énergétique et
      vous invite à la visualisation.
    </p>
  </div>
</div>
