---
import '../styles/parallax.css';
---

<div class="parallax-divider">
  <div class="parallax-bg" id="parallaxBg"></div>
  <div class="parallax-quote">
    <blockquote>
      « Le soin est une invitation à se reconnecter à soi, à son corps, à son environnement. »
    </blockquote>
    <cite>Élodie Bedon</cite>
  </div>
</div>
